<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Login</h1>
    <% if (errorMessage) { %>
        <p id="error"><%= errorMessage %></p>
    <% } %>
	<div id="loginPrompt">
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button id="submitButton" type="submit">Login</button>
    </form>
    <p> <em>Don't have an account? <a href="/signup">Sign up!</a></em></p>
	</div>
</body>
</html>