body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background-color: #e2ebe5;
    color: #333;
}

h1 {
    text-align: center;
    color: #4a90e2;
}

#inputSection {
    margin-bottom: 40px;
    background-color: rgb(165, 183, 158);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}



label{
    margin-right: 10px;
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    transition: border-color 0.3s ease;
}


input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #4a90e2;
    outline: none;
}

option:hover{
    background: #b35e9e;
}


button {
    padding: 15px 80px;
    background-color: #b35e9e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b275a2;
}

#expensesList, #debts {
    background-color: rgb(165, 183, 158);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* ... (previous styles remain the same) */

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    background-color: white;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #357ab7;
    color: #fff;
}

.cat-none{
    display: none;
}

p{
    color: rgb(211, 78, 78);
    margin-top: 0px;
}

h2{
   padding: 4px; 
}


.dropbtn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
    margin-top: 5px;
    transition: border-color 0.3s ease;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown:hover .dropbtn {background-color: #dae4da;}